<%- include('../../../partials/header.ejs') %>
    <link rel = "stylesheet" href = "/styles/project_specific_css/color-style.css">

    <h2>Color Flipper</h2>

    <div class = "project flex">
        <div class = "color-info flex">
            <p>Background Color: </p>

            <button class = "color-flip-btn">Click Me!</button>
        </div>
    </div>

    <script src="/projects/projects/color-flipper/color-script.js"></script>

<%- include('../../../partials/footer.ejs') %>