<%- include('../views/partials/header.ejs') %>
    <h2>Color Flipper</h2>

    <section>

    <p></p>

    </section>

    <script src = "color-flipper.js"
<%- include('../views/partials/footer.ejs') %>