<%- include('../../../partials/header.ejs') %>
    <link rel = "stylesheet" href = "color-flipper.css">

    <h2>Color Flipper</h2>

    <div class = "project flex">
        <div class = "color-info flex">
            <p>Background Color: </p>

            <button class = "color-flip-btn">Click Me!</button>
        </div>
    </div>

    <script src = "color-flipper.js"></script>
<%- include('../../../partials/footer.ejs') %>