<%- include('../../../partials/header.ejs') %>
    <link rel = "stylesheet" href = "/styles/project_specific_css/counter.css">
    <div id = "background" class = "grid">
        <h2>Counter</h2>

        <div class = "flex" id = "project-wrapper">
            <h3>Counter</h3>

            <div id = "count-container"></div>

            <div id = "btn-container">
                <button class = "btn" id = "decrease-btn">Decrease</button>
                <button class = "btn" id = "reset-btn">Reset</button>
                <button class = "btn" id = "increase-btn">Increase</button>
            </div>

        </div>
    
    </div>
    <script src="/scripts/counter.js"></script>

<%- include('../../../partials/footer.ejs') %>
