        </main>

        <footer id = "social-links" class = "flex">
            <button><img src="" alt="">Github</button>
            <button><img src="" alt="">Frontend Mentor</button>
            <button><img src="" alt="">LinkedIn</button>
        </footer>
    </body>

</html>