<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>40 projects by Defenstration</title>

    <link rel = "stylesheet" href = "../../public/styles/main.css">
</head>
<body>
    <header>
        <a href="">
            <h1>40 Projects by Defenstration</h1>
        </a>
        
        
        <nav>
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
        </nav>

    </header>
    <main>