<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>40 projects by Defenstration</title>

    <link rel = "stylesheet" href = "/styles/main.css">
</head>
<body class = "grid">
    <header id = "page-info" class = "flex">
        <a href="">
            <h1>40 Projects by Defenstration</h1>
        </a>
        
        
        <nav>
            <a href="">Projects</a>
            <a href="">placeholder</a>
            <a href="">placeholder</a>
        </nav>

    </header>
    <main>