<%- include('../../../partials/header.ejs') %>
    <link rel = "stylesheet" href = "/styles/project_specific_css/video-background.css">
    <div id = "background">
        <video autoplay muted loop id = "video" src = "/assets/videos/216058_small.mp4" type = "video/mp4"></video>

        <h2>Video Background</h2>
        <button id = "pause-btn">Pause</button>


    </div>

    


    <script src="/scripts/video-background.js"></script>

<%- include('../../../partials/footer.ejs') %>