<%- include('../../../partials/header.ejs') %>
    <link rel = "stylesheet" href = "/styles/project_specific_css/menu.css">
    <div id = "background" class = "grid">
        <h2>Resaurant Menu Page</h2>

        <div class = "flex" id = "project-wrapper">
            <h3>Our Menu</h3>

            <ul class = "flex">
                <li>All</li>
                <li>Breakfast</li>
                <li>Lunch</li>
                <li>Dinner</li>
                <li>Snack</li>
            </ul>

            <div id = "menu-container">

            </div>

        </div>
    
    </div>
    <script src="/scripts/menu.js"></script>

<%- include('../../../partials/footer.ejs') %>