<%- include('../../../partials/header.ejs') %>
    <link rel = "stylesheet" href = "/styles/project_specific_css/menu.css">
    <div id = "background" class = "grid">
        <h2>Resaurant Menu Page</h2>

        <div class = "flex" id = "project-wrapper">
            <h3>Our Menu</h3>

            <ul class = "flex" id = "meal-list">
                <li class = "meal-type"><button>All</button></li>
                <li class = "meal-type"><button>Breakfast</button></li>
                <li class = "meal-type"><button>Lunch</button></li>
                <li class = "meal-type"><button>Dinner</button></li>
                <li class = "meal-type"><button>Snack</button></li>
            </ul>

            <div id = "menu-container" class = "grid">

            </div>

        </div>
    
    </div>
    <script src="/scripts/menu.js"></script>

<%- include('../../../partials/footer.ejs') %>