<%- include('../views/partials/header.ejs') %>

<h2 class = "page-title">Homepage</h2>

<section class = "intro">
    <p>I am working through the Udemy course <a href = "https://www.udemy.com/course/the-complete-web-development-bootcamp/?couponCode=ST8MT101424">The Ultimate 2024 Web Development Bootcamp</a> and I wanted to build some projects to nail down the content. Alongside the course I was working through the <a href = "freecodecamp.org">freeCodeCamp</a> curriculum and I came upon the article <a href = "https://www.freecodecamp.org/news/javascript-projects-for-beginners/#how-to-create-a-color-flipper">40 JavaScript Projects for Beginners – Easy Ideas to Get Started Coding JS</a> and decided that building them in one site would be a good excercise.</p>

    <br />

    <p>So...here we go!</p>
</section>

<section>
    <h3 class = "section-header">Project 0 - The Setup</h3>

    <p>So the first project was to actually get everything set up. I knew I wanted to add the things I learned in the bootcamp to the site, and that began with adding the items into the environment. The packages used at this part of the bootcamp were:</p>

    <ul>
        <li>Express</li>
        <li>Ejs</li>
        <li>Body Parser</li>
    </ul>

    <p>Nothing too extravagent, but I had totally forgotten about using static with express and that took me a few minutes to notice. Once that was taken care of, along with one ever infuriating typo, I got a working site!</p>

    <img src = "/assets/images/Screenshot-basicPage.png" class = "screenshot" alt = "screenshot of basic page">
</section>

<section>
    <h3 class = "section-header">Project 1 - Color Flipper</h3>

    <p>Once my environment was set up it was time to start working on the first project - a color flipper. This is a pretty simple project to choose a random background color when a button was clicked. When I went to see how the site performed it was actually broke with a site not found error, so I couldn't really see it in action. Not a big deal for something like this.</p>

    <p>I decided to nest the projects in a project folder, then created "color-flipper.ejs" and started working on it.</p>

    <p>The project itself isn't particularly invloved, but what I did learn a lot about was file structuring in express. My first instinct was to house the specific local css and js files for the style and functionality of each project in the folder with the ejs file. This turned out to be a massive headache, as linking them that way just didn't work. There might be a way that I didn't figure out, but the approach I landed on was to create a folder for project specific css and js. That allowed me to link them from the static "public" file I have set up.</p>

    <p>This is also where I encountered an issue with using express inside those files. My first approach was to use a POST to return the color name and color to the page. I couldn't get that to work. I think it is because I trying to do server-side work on the client-side. I scratched that approach and returned to doing the work with vanilla javascript and it was pretty straight forward from there. I used ChatGPT to generate an array of color objects, and used an event listener to generate a random number to pick from that list. Then set the text content and background color style to match</p>
</section>

<section>
    <h3 class = "section-header">Project 2 - Create a Counter</h3>

    <p>The second project was to create a counter that had an increase and decrease button, as well as a reset button. The number needed to be updated when the buttons were pressed and the number needed to be colored based on whether it was odd or even. I could think of a few ways to set up the buttons, but I decided to keep it simple and add event listeners to each instead of doing a querySelectorAll and a switch case. I make a setCount formula with an if statement and that was the most of this project.</p>
</section>

<section>
    <h3 class = "section-header">Project 3 - Review Carousel</h3>

    <p>The third project was to make a review page that could cycle through reviews. The webpage wasn't active so I could only get the target functionality from the youtube video. It's a pretty standard review page with a button that moves to the next or previous btn, has a random review button, and cycles once it gets to one end or the other. It's a step further in progression from the previous project, and I used much of the same process. I used an index variable that increased or decreased the same way as the counter, then had ChatGPT create some reviews, and took that review based on the index.</p>

    <p>There isn't much to say about this project, but if I were making suggestions to someone else going through this set of projects I would say to use the provided code. It would have been handy to have pictures and some arrays already created. I chose not to use that when I began working through them, but it does lead to some dull webpages to look at :)</p>

</section>

<section class = "section-header">
    <h3>Project 4 - Responsive Navbar</h3>
    <p></p>
</section>


<%- include('../views/partials/footer.ejs') %>