<%- include('../views/partials/header.ejs') %>

<h2>Homepage</h2>

<p>I am working through the Udemy course <a href = "https://www.udemy.com/course/the-complete-web-development-bootcamp/?couponCode=ST8MT101424">The Ultimate 2024 Web Development Bootcamp</a> and I wanted to build some projects to nail down the content. Alongside the course I was working through the <a href = "freecodecamp.org">freeCodeCamp</a> curriculum and I came upon the article <a href = "https://www.freecodecamp.org/news/javascript-projects-for-beginners/#how-to-create-a-color-flipper">40 JavaScript Projects for Beginners – Easy Ideas to Get Started Coding JS</a> and decided that building them in one site would be a good excercise.</p>

<br />

<p>So...here we go!</p>

<h3>Project 0 - The Setup</h3>

<p>So the first project was to actually get everything set up. I knew I wanted to add the things I learned in the bootcamp to the site, and that began with adding the items into the environment. The packages used at this part of the bootcamp were:</p>

<ul>
    <li>Express</li>
    <li>Ejs</li>
    <li>Body Parser</li>
</ul>

<%- include('../views/partials/footer.ejs') %>