<%- include('../../../partials/header.ejs') %>
    <link rel = "stylesheet" href = "/styles/project_specific_css/scroll-page.css">
    <div id = "background">
        <h2>Scroll Page</h2>

        <div id = "project-wrapper">
            <section class = "flex">
                <h3>1</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sed sem ut nulla aliquet blandit. Fusce eget purus et lacus laoreet laoreet nec a enim. In non mauris vel nunc consectetur cursus. Aenean porttitor, orci at tempus consequat, magna sapien suscipit tortor, sit amet egestas libero libero non odio. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi ultricies felis in magna viverra condimentum. Aliquam at sagittis dolor, non varius erat. Ut feugiat, ipsum et consectetur venenatis, tortor ipsum luctus libero, id tincidunt metus odio a nulla. Duis hendrerit dapibus neque, sed fermentum libero convallis at. Integer at sapien quam. Nam euismod, urna nec suscipit fermentum, sem urna luctus ante, nec fermentum nulla eros id est. Quisque eu congue ligula. Vestibulum nec ullamcorper lacus, id condimentum erat. Suspendisse potenti. Donec eget consectetur lectus. Mauris sed congue eros. Phasellus sit amet elit quis mauris tincidunt vehicula. Sed sagittis sapien a nibh facilisis, eu mollis erat viverra. Integer in turpis vel eros volutpat convallis ac non dui.
                </p>
            </section>
            <section class = "flex">
                <h3>2</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sed sem ut nulla aliquet blandit. Fusce eget purus et lacus laoreet laoreet nec a enim. In non mauris vel nunc consectetur cursus. Aenean porttitor, orci at tempus consequat, magna sapien suscipit tortor, sit amet egestas libero libero non odio. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi ultricies felis in magna viverra condimentum. Aliquam at sagittis dolor, non varius erat. Ut feugiat, ipsum et consectetur venenatis, tortor ipsum luctus libero, id tincidunt metus odio a nulla. Duis hendrerit dapibus neque, sed fermentum libero convallis at. Integer at sapien quam. Nam euismod, urna nec suscipit fermentum, sem urna luctus ante, nec fermentum nulla eros id est. Quisque eu congue ligula. Vestibulum nec ullamcorper lacus, id condimentum erat. Suspendisse potenti. Donec eget consectetur lectus. Mauris sed congue eros. Phasellus sit amet elit quis mauris tincidunt vehicula. Sed sagittis sapien a nibh facilisis, eu mollis erat viverra. Integer in turpis vel eros volutpat convallis ac non dui.
                </p>
            </section>
            <section class = "flex">
                <h3>3</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sed sem ut nulla aliquet blandit. Fusce eget purus et lacus laoreet laoreet nec a enim. In non mauris vel nunc consectetur cursus. Aenean porttitor, orci at tempus consequat, magna sapien suscipit tortor, sit amet egestas libero libero non odio. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi ultricies felis in magna viverra condimentum. Aliquam at sagittis dolor, non varius erat. Ut feugiat, ipsum et consectetur venenatis, tortor ipsum luctus libero, id tincidunt metus odio a nulla. Duis hendrerit dapibus neque, sed fermentum libero convallis at. Integer at sapien quam. Nam euismod, urna nec suscipit fermentum, sem urna luctus ante, nec fermentum nulla eros id est. Quisque eu congue ligula. Vestibulum nec ullamcorper lacus, id condimentum erat. Suspendisse potenti. Donec eget consectetur lectus. Mauris sed congue eros. Phasellus sit amet elit quis mauris tincidunt vehicula. Sed sagittis sapien a nibh facilisis, eu mollis erat viverra. Integer in turpis vel eros volutpat convallis ac non dui.
                </p>
            </section>
            <section class = "flex">
                <h3>4</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sed sem ut nulla aliquet blandit. Fusce eget purus et lacus laoreet laoreet nec a enim. In non mauris vel nunc consectetur cursus. Aenean porttitor, orci at tempus consequat, magna sapien suscipit tortor, sit amet egestas libero libero non odio. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi ultricies felis in magna viverra condimentum. Aliquam at sagittis dolor, non varius erat. Ut feugiat, ipsum et consectetur venenatis, tortor ipsum luctus libero, id tincidunt metus odio a nulla. Duis hendrerit dapibus neque, sed fermentum libero convallis at. Integer at sapien quam. Nam euismod, urna nec suscipit fermentum, sem urna luctus ante, nec fermentum nulla eros id est. Quisque eu congue ligula. Vestibulum nec ullamcorper lacus, id condimentum erat. Suspendisse potenti. Donec eget consectetur lectus. Mauris sed congue eros. Phasellus sit amet elit quis mauris tincidunt vehicula. Sed sagittis sapien a nibh facilisis, eu mollis erat viverra. Integer in turpis vel eros volutpat convallis ac non dui.
                </p>
            </section>
            <section class = "flex">
                <h3>5</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sed sem ut nulla aliquet blandit. Fusce eget purus et lacus laoreet laoreet nec a enim. In non mauris vel nunc consectetur cursus. Aenean porttitor, orci at tempus consequat, magna sapien suscipit tortor, sit amet egestas libero libero non odio. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi ultricies felis in magna viverra condimentum. Aliquam at sagittis dolor, non varius erat. Ut feugiat, ipsum et consectetur venenatis, tortor ipsum luctus libero, id tincidunt metus odio a nulla. Duis hendrerit dapibus neque, sed fermentum libero convallis at. Integer at sapien quam. Nam euismod, urna nec suscipit fermentum, sem urna luctus ante, nec fermentum nulla eros id est. Quisque eu congue ligula. Vestibulum nec ullamcorper lacus, id condimentum erat. Suspendisse potenti. Donec eget consectetur lectus. Mauris sed congue eros. Phasellus sit amet elit quis mauris tincidunt vehicula. Sed sagittis sapien a nibh facilisis, eu mollis erat viverra. Integer in turpis vel eros volutpat convallis ac non dui.
                </p>
            </section>
        </div>


    </div>

    


    <script src="/scripts/scroll-page.js"></script>

<%- include('../../../partials/footer.ejs') %>