<%- include('../../../partials/header.ejs') %>
    <link rel = "stylesheet" href = "/styles/project_specific_css/navbar.css">
    <div id = "background" class = "grid">
        <h2>Navbar</h2>

        <div class = "flex" id = "project-wrapper">


        </div>
    
    </div>
    <script src="/scripts/navbar.js"></script>

<%- include('../../../partials/footer.ejs') %>