.project, #background {
    height: 100%;
    width: 100%;
}

#background {
    background-color: lightslategray;
    padding: 3rem;

}

.color-info {
    flex-direction: column;

}

#color-text {
    margin: 1rem;
    font-size: 2rem;
    background-color: gray;
    padding: 1rem;
}

.project {
    align-items: center;
    justify-content: center;
}