<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Color Flipper by Defenstration</title>

    <link rel = "stylesheet" href="color_flipper.css">


</head>

<body>

    <main>

        <h2>Background Color : </h2>
        <button>Click Me!</button>

    </main>
    

    <script src="color_flipper.js"></script>
</body>
</html>