<%- include('../views/partials/header.ejs') %>
    <h2>Projects</h2>


    <div class = "project">

        <p>Background Color: </p>

        <button class = "color-flip-btn">Click Me!</button>

    </div>

    
<%- include('../views/partials/footer.ejs') %>