<%- include('../partials/header.ejs') %>
    <h2>Projects</h2>


    <div class = "project-list flex">

        <a href="color-flipper">Project 1 - Color Flipper</a>
        <a href="counter">Project 2 - Counter</a>
        <a href = "reviews">Project 3 - Review Carousel</a>
        <a href="modal">Project 6 - Modal</a>
        <a href="faq">Project 7 - FAQ</a>
        <a href="menu">Project 8 - Restaurant Menu Page</a>
        <a href="video-background">Project 9 - Video Background</a>
        <a href="scroll-page">Project 10 - Scroll Page</a>

    </div>

    
<%- include('../partials/footer.ejs') %>