<%- include('../partials/header.ejs') %>
    <h2>Projects</h2>


    <div class = "project-list">

        <a href="color-flipper">Project 1 - Color Flipper</a>


    </div>

    
<%- include('../partials/footer.ejs') %>