<%- include('../partials/header.ejs') %>
    <h2>Projects</h2>


    <div class = "project-list">

        <a href="color-flipper">Project 1 - Color Flipper</a>
        <a href="counter">Project 2 - Counter</a>
        <a href = "reviews">Project 3 - Review Carousel</a>

    </div>

    
<%- include('../partials/footer.ejs') %>