<%- include('../../../partials/header.ejs') %>
    <link rel = "stylesheet" href = "/styles/project_specific_css/reviews.css">
    <div id = "background" class = "grid">
        <h2>Review Carousel</h2>

        <div class = "flex" id = "project-wrapper">
            <img src = "" alt = "" id = "image">
            <p id = "name"></p>
            <p id = "title"></p>
            <p id = "review"></p>

            <div id = "button-wrapper" class = "grid">
                <button id = "previous-btn">Prev</button>
                <button id = "next-btn">Next</button>
                <button id = "random-btn">Surprise Me!</button>
            </div>

        </div>
    
    </div>
    <script src="/scripts/reviews.js"></script>

<%- include('../../../partials/footer.ejs') %>