<%- include('../../../partials/header.ejs') %>
    <link rel = "stylesheet" href = "/styles/project_specific_css/faq.css">
    <div id = "background" class = "grid">
        <h2>FAQ</h2>

        <div class = "flex" id = "project-wrapper">
            <h3>General Questions</h3>

            <div id = "faq-box" class = "flex">

            </div>


        </div>
    
    </div>
    <script src="/scripts/faq.js"></script>

<%- include('../../../partials/footer.ejs') %>